<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>
  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="script.js" defer></script>
  <title>Document</title>
  <link href='http://fonts.googleapis.com/css?family=Syncopate' rel='stylesheet' type='text/css'>
  <style>
    #video-grid {
      /* display: grid; */
      /* grid-template-columns: repeat(auto-fill, 350px); */
      /* width: -50%; */
      display: flex;
      height: 50%;
      margin-left: 8%;
      margin-right: 10%;
      gap:30px;
      /* margin-top: 10%; */

    }
    body{
      background-color: lightgray;
    }
    video {
      width: 50%;
      transform: scaleX(-1);
      border-radius: 20px;
      margin-top: auto;
      margin-bottom: auto;
    }
     
    #timer {
      text-align: center;      
      margin-top: 20px;
      font-size: 30px;
      font-family: 'Geneva';
    }
    #title {
      padding-top: 20px;
      font-size: 40px;
      font-family: 'Geneva';
      text-align: center;
      font-size: 50;
    }
  </style>
</head>
<body>
  <p id="title">Control the Robot Hand with your hands!</p>
  <div id="video-grid"></div>
  <p id = "timer">Time Left</p>
  <div id="donation">
    
  </div>
</body>
</html>