<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = 100;
  </script>
  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="script.js" defer></script>
  <title>Document</title>
  <link href='https://fonts.googleapis.com/css?family=Syncopate' rel='stylesheet' type='text/css'>
  <style>
    #video-grid {
      /* display: grid; */
      /* grid-template-columns: repeat(auto-fill, 350px); */
      /* width: -50%; */
      display: flex;
      height: 50%;
      margin-left: 2%;
      margin-right: 2%;
      gap:30px;
      /* margin-top: 10%; */

    }
    body{
      background-color: rgb(0, 0, 37);
    }
    video {
      width: 50%;
      transform: scaleX(-1);
      border-radius: 20px;
      margin-top: auto;
      margin-bottom: auto;
    }
     
    #timer {
      text-align: center;      
      margin-top: 10px;
      font-size: 30px;
      font-family: 'Geneva';
      padding-top: 20px;
      color: white;
    }
    #title {
      /* padding-top: 10px; */
      font-size: 40px;
      font-family: 'Geneva';
      text-align: center;
      font-size: 50;
      color: white;
    }

    #live{
      display:block;
      margin:auto;
    }

    #rejoin{
      display: flex;
      margin: 0 auto;
      background-color: lightskyblue;
      border: none;
      padding: 14px 40px;
      border-radius: 10px;
      font-family: "Geneva";
    }

    #buymeacoffee{
      padding-left: 10px;
    }

  </style>
</head>
<body>
  <p id="title">Control the Robot Hand with your hands!</p>
  <div id="video-grid"></div>
  <p id = "timer">Time Left</p>
  <!-- <button type="button">Click Me!</button> -->
  <script type="text/javascript" id="buymeacoffee" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="AlanLu" data-color="#FFDD00" data-emoji="" data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
  <!-- <iframe width="70%" id="live" height="534" src="https://www.youtube.com/embed/Qps2vPSx98o?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
  </div>
</body>
</html>